PORT=5000
MONGODB_URI=mongodb://localhost:27017/freshcart
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
FIREBASE_SERVICE_ACCOUNT={ apiKey: "AIzaSyAMElRfkxulKMH2-8JPGXZ3MDJA3hIfi6U",
  authDomain: "c0llege-alert.firebaseapp.com",
  databaseURL: "https://c0llege-alert-default-rtdb.firebaseio.com",
  projectId: "c0llege-alert",
  storageBucket: "c0llege-alert.firebasestorage.app",
  messagingSenderId: "911775703838",
  appId: "1:911775703838:web:dfa2c481f15f21cc229f0f",
  measurementId: "G-QWT13NC237"}
